.rscpages-table {
  border-collapse: collapse;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  width: 100%;
  margin: 24px 0;
}

.rscpages-table__row {
  border-bottom: 1px solid #F0F0F0;
}

.rscpages-table__row-body {
  cursor: pointer;
}

  .rscpages-table__row-body:hover {
    background: rgba(76, 131, 182, 0.05);
  }

.rscpages-table__cell {
  text-align: left;
  padding-top: 12px;
  padding-bottom: 12px;
}

  .rscpages-table__cell:first-child {
    padding-left: 24px;
  }

  .rscpages-table__cell:last-child {
    padding-right: 24px;
  }

.rscpages-table__cell-name {
  font-weight: bold;
}
