.rscgrid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  &-item {
    border-radius: 3px;
    box-shadow: 0 0 3px 1px rgba(0,0,0, 0.2);
    color: #303030;
    margin-bottom: 4%;
    margin-right: 4%;
    overflow: hidden;
    transition: all 0.2s ease;
    width: 22%;
  
    &:hover {
      box-shadow: 0 0 12px 2px rgba(0,0,0, 0.2);
      transform: scale(1.05);
    }
  
    &:hover,
    &:focus {
      color: #303030;
      text-decoration: none;
    }
  
    &:nth-of-type(4n) {
      margin-right: 0;
    }
  
    &__img {
      background: #CDCDCD;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      margin: 0;
      padding: 30% 50%;
    }
  
    &__title {
      font-size: 16px;
      line-height: 1.44em;
      margin: 5px 0 0 0;
      padding: 0 10px;
    }
    
    &__meta {
      font-size: 12px;
      padding: 0 10px 10px 10px;
    }
  }
}
