.rscgrid {
  width: 100%;

  &__grid {
    display: flex;
    flex-wrap: wrap;

    &--empty {
      justify-content: center;
      margin-bottom: 1.44em;
      padding: 1.44em 0;
    }
  }

  &-item {
    border-radius: 3px;
    box-shadow: 0 0 3px 1px rgba(0,0,0, 0.0);
    margin-bottom: 3%;
    margin-right: 3%;
    overflow: hidden;
    transition: all 0.2s ease;
    width: 22.75%;

    & .card-body {
      padding: 0;
    }

    &:hover {
      box-shadow: 0 0 12px 2px rgba(0,0,0, 0.2);
      transform: scale(1.05);
    }

    &:hover,
    &:focus {
      text-decoration: none;
    }

    &__title {
      /*
        more default styles on theming files
      */
      font-size: 1.2em;
      margin-top: 0.4em;
      padding: 0 0.7em;
    }

    &__meta {
      display: flex;
      flex-direction: column;
      font-size: 0.9em;
      padding: 0 1em 1em 1em;
    }
  }
}

@media screen and (min-width: 721px) {
  .rscgrid-item {
    &:nth-of-type(4n) {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 860px) {
  .rscgrid-item {
    margin-bottom: 1.6%;
    margin-right: 1.6%;
    width: 23.8%;
  }
}

@media screen and (max-width: 720px) {
  .rscgrid-item {
    margin-bottom: 2%;
    margin-right: 2%;
    width: 32%;

    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 660px) {
  .rscgrid-item {
    font-size: 1em;
  }
}

@media screen and (max-width: 640px) {
  .rscgrid-item {
    width: 49%;

    &:nth-of-type(3n) {
      margin-right: 2%;
    }

    &:nth-of-type(2n) {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 420px) {
  .rscgrid-item {
    margin-right: 0;
    margin-bottom: 1em;
    width: 100%;

    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }
}
