.rscgrid {
  width: 100%;

  &__grid {
    display: flex;
    flex-wrap: wrap;

    &--empty {
      justify-content: center;
      margin-bottom: 1.44em;
      padding: 1.44em 0;
    }
  }

  &-item {
    border-radius: 3px;
    box-shadow: 0 0 3px 1px rgba(0,0,0, 0.0);
    margin-bottom: 3%;
    margin-right: 3%;
    overflow: hidden;
    transition: all 0.2s ease;
    width: 22.75%;

    & .card-body {
      flex: unset;
      padding: 0;
    }

    &:hover {
      box-shadow: 0 0 12px 2px rgba(0,0,0, 0.2);
      transform: scale(1.05);
    }

    &:hover,
    &:focus {
      text-decoration: none;
    }

    &__title {
      /*
        more default styles on theming files
      */
      font-size: 1.2em;
      margin-top: 0.4em;
      padding: 0 0.7em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &__meta {
      display: flex;
      flex-direction: column;
      font-size: 0.9em;
      padding: 0 1em 1em 1em;
    }
  }
}
