@import 'overwrites.scss';
@import 'contrast.scss';

$lightContrast: contrast($body-bg, white);
$darkContrast: contrast($body-bg, black);

.rscgrid {
  &__grid {
    &--empty {
      border-bottom: 1px solid $border-color;
      border-top: 1px solid $border-color;
    }
  }

  &-item {
    &__meta {
      @if ($lightContrast > $darkContrast) {
        color: white!important;
      }
    }
  }
}

.page-item.active {
  .page-link {
    color: white!important;
  }
}

@include media-breakpoint-up(lg) {
  .rscgrid-item {
    &:nth-of-type(4n) {
      margin-right: 0;
    }
  }
}

@include media-breakpoint-down(md) {
  .rscgrid-item {
    font-size: 1em;
    margin-bottom: 2%;
    margin-right: 2%;
    width: 32%;

    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }
}

@include media-breakpoint-down(sm) {
  .rscgrid-item {
    width: 49%;

    &:nth-of-type(3n) {
      margin-right: 2%;
    }

    &:nth-of-type(2n) {
      margin-right: 0;
    }
  }
}

@include media-breakpoint-down(xs) {
  .rscgrid-item {
    margin-right: 0;
    margin-bottom: 1em;
    width: 100%;

    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }
}
