.rscfilter-selections {
  display: flex;
  flex-wrap: wrap;
  margin: 0.7em 0 0.7em 0;
  padding-left: 30%;

  &__item {
    display: flex;
    margin: 0 0.4em 0.4em 0;
    /*
      more default styles on theming files
    */

    &-discard {
      background-color: transparent;
      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxMyAxMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwLjI5MTYgMy40NzIwOEw5LjUyNzg0IDIuNzA4MzNMNi40OTk5MiA1LjczNjI1TDMuNDcyIDIuNzA4MzNMMi43MDgyNSAzLjQ3MjA4TDUuNzM2MTcgNi40OTk5OUwyLjcwODI1IDkuNTI3OTFMMy40NzIgMTAuMjkxN0w2LjQ5OTkyIDcuMjYzNzRMOS41Mjc4NCAxMC4yOTE3TDEwLjI5MTYgOS41Mjc5MUw3LjI2MzY3IDYuNDk5OTlMMTAuMjkxNiAzLjQ3MjA4WiIgZmlsbD0iIzQ0NDQ0NCIvPgo8L3N2Zz4K");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      border: none;
      margin: 0;
      margin-left: 0.33em;
      padding: 0.4em;
    }
    
    &-discard:hover {
      background-color: transparent;
      opacity: 0.4;
    }
  }
}
