.rscfilter-pane {
  border-radius: 3px;
  box-shadow: 0 0 3px 1px rgba(0,0,0, 0.2);
  box-sizing: border-box;
  left: 0;
  line-height: 2.4em;
  opacity: 0;
  pointer-events: none;
  padding: 1em;
  position: absolute;
  top: 3em;
  transform: translateY(-1em);
  transition: all 0.3s ease;
  width: 360px;
  z-index: 100;

  /* Overlay-box's arrow */
  &::before {
    box-shadow: -1px -1px 2px 1px rgba(0,0,0, 0.1);
    content: " ";
    height: 1em;
    left: 2.8em;
    position: absolute;
    top: -0.33em;
    transform: rotate(45deg);
    width: 1em;
  }
  
  /* Cover shadow of overlay-box's arrow */
  &::after {
    content: " ";
    height: 1em;
    left: 2em;
    position: absolute;
    top: 0;
    width: 30px;
  }

  &--active {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0px);
  }
  
  &__actions {
    padding-top: 15px;
    text-align: right;

    &-reset {
      border: none;
      border-radius: 3px;
      line-height: 36px;
      padding: 0 16px;
    }
  }  
}
