.rscfilter-field {
  align-items: center;
  display: flex;
  position: relative;

  &--dropdown::after {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNSIgdmlld0JveD0iMCAwIDEwIDUiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0wIC00LjM3MTE0ZS0wN0w1IDVMMTAgMEwwIC00LjM3MTE0ZS0wN1oiIGZpbGw9IiM0NDQ0NDQiLz4KPC9zdmc+Cgo=");
    background-position: center center;
    background-repeat: no-repeat;
    content: " ";
    height: 2.4em;
    position: absolute;
    right: 0;
    top: 0;
    width: 2.4em;
  }

  &__name {
    width: 30%
  }

  &__input {
    border: 1px solid #B0B0B0;
    box-sizing: border-box;
    height: 2.4em;
    padding: 0 0.7em;
    width: 70%;

    &:focus {
      border-color: #4C83B6;
      outline: none;
    }
  }

  &__options {
    background:white;
    border: 1px solid #B0B0B0;
    box-sizing: border-box;
    opacity: 0;
    pointer-events: none;
    max-height: 12em;
    left: 30%;
    overflow-y: auto;
    padding: 0.7em;
    position: absolute;
    top: 2.4em;
    width: 70%;
    z-index: 1;

    &--show {
      opacity: 1;
      pointer-events: auto;
    }
  }
}


