.rscfilter-pane {
  border-radius: 3px;
  box-shadow: 0 0 3px 1px rgba(0,0,0, 0.2);
  box-sizing: border-box;
  left: 0;
  line-height: 2.4em;
  opacity: 0;
  pointer-events: none;
  padding: 1em;
  position: absolute;
  top: 3em;
  transform: translateY(-1em);
  transition: all 0.3s ease;
  width: 360px;
  z-index: 100;

  /* Overlay-box's arrow */
  &::before {
    box-shadow: -1px -1px 1px 0px rgba(0, 0, 0, 0.06);
    content: " ";
    height: 1em;
    left: 1em;
    position: absolute;
    top: -0.4em;
    transform: rotate(45deg);
    width: 1em;
  }

  &--active {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0.5em);
  }
  
  &__actions {
    padding-top: 15px;
    text-align: right;

    /*
    &-reset {
      default styles on theming files
    }
    */
  }  
}
